{% load static %}
<!DOCTYPE html>

<head>
    <script> 
    //console.error("{{data|escapejs}}");
    const questions = JSON.parse("{{data|escapejs}}").map(k => {
            const res = {};
            res.question = k.question;
            res.answers = Object.keys(k).filter(k => k.match(/anwser\d+/)).map(a => k[a]);
            res.explanation = k.anwser;
            return res;
        }); </script>
    <script defer src="{% static 'js/main.js' %}"></script>
</head>

<body>
    <p id="quiz"></p>
</body>
