{% extends "core/base.html" %}
{% load static %}
{% block title%}Ecclogy | Le Quizzzz !{% endblock %}


{% block stylesheet %}
<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{% static 'css/quiz.css' %}">
    <script> 
    //console.error("{{data|escapejs}}");
    const questions = JSON.parse("{{data|escapejs}}").map(k => {
            const res = {};
            res.question = k.question;
            res.answers = Object.keys(k).filter(k => k.match(/anwser\d+/)).map(a => k[a]);
            res.explanation = k.anwser;
            return res;
        }); </script>
    <script defer src="{% static 'js/main.js' %}"></script>
  {% endblock %}


{% block content %}
        <p id="quiz"></p>


{% endblock %}