/* po lices  */
/* anton */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* policede  noel: Mountains of Christmas */
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');




span:hover{
  color: #479260;
}

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Lato';
  color: #133C4D;
  transition-duration: 0.2s;
}

/* tous les textes */
p {
  font-size: 16px;
}

/* titres */
h1 {
  font-family: "Anton";
}
h3 {
  padding-top : 16px;
  padding-bottom: 16px;
}



/* liens par défaut */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}



/* checkbox */
input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label {
    box-sizing: border-box;
    display: inline-block;
    width: 47px;
    height: 26px;
    border-radius: 26px;
    padding:3px;
    background-color: #CCCCCC ;
    transition: all 0.5s ;
    cursor: pointer;

  }
  /* rond vert */
  input[type="checkbox"] + label::before {
    box-sizing: border-box;
    display: block;
    content: "";
    height: calc(26px - 6px);
    width: calc(26px - 6px);
    border-radius: 50%;
    background-color: #479260;
    transition: all 0.5s ;

  }
  /* ombre au survol */
  input[type="checkbox"]:hover + label::before {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  }
  input[type="checkbox"]:checked + label {
    background-color: #133C4D ;
  }
  input[type="checkbox"]:checked + label::before {
    margin-left: calc(47px - 20px - 6px);
  }






/* dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111111;

  }
  * {
    color:whitesmoke;
  }

}



















/* HEADER */
header {
  background-color: #479260;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  height: 70px;
  align-items: center;
  padding: 10px 20px;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  /* width: 100%; */
}

header div {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: space-around;
  
}

header div#logo-box {
  flex:1;
  padding-right:16px;
  justify-content: left ;
}

header div#logo-box img {
  height: 40px;
  padding-right: 16px;
}
header div h1,foo div h1  {
  font-family: "Anton";
  font-size:28px;
  display: flex;
  align-items: center;
  color: #133C4D;
}
header div h1 span,foo div h1 span {
  font-weight: 400;
  font-size: 20px;
  padding-left:8px;
  color: #133C4D;
  
}
header div a {
  padding: 0 20px;
  font-weight: 600;
  font-size: 18px;
  color: #133C4D;


}

/* hauteur minimale de la page entre head et foot */
div#content {
  min-height: 70vh;
}








/* footer */
foo {
  background-color: #479260;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px 20px;
  justify-content: center;
  align-items: center;
}

foo div#marque {
  min-width: 500px;
  display: flex;
  align-items: center;
  flex:2;
}
foo div#marque h1 {
  font-size: 36px;
}
foo div#marque h1 span{
  font-size: 32px;
}
foo div#marque img {
  height: 150px;
  padding-right: 16px;
}
foo div#header-right {
  min-width: 300px;
  flex: 1;
  height:100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

foo div#header-right>a,foo div#header-right>p,foo div#header-right>div {
  padding: 5px 0;
  font-size: 18px;

  
}
foo div#header-right * {
  color: #133C4D;

}
/* logos des réseaux */
foo div#header-right>div a>img {
  height: 32px;
  padding-right: 8px;
}
/* petite animation */
foo div#header-right>div a>img:hover {
  transform: scale(1.05);
}




/* PC seulement */

@media (min-width: 700px) {
  .mobile-only {
    display : none;
  }
}







/* mobile */


@media (max-width: 700px) {
  .computer-only {
    display:none;
  }
  header div#header-right {
    position: fixed;
    top:70px;
    left: 0;
    background-color: #479260;
    margin: 0;
    flex-direction: column;
    width: 100%;
    min-height: 40vh;
    align-content:left;
  }


  header div#logo-box{
    z-index: 2
  }
  img#menu-icon {
    height: 20px;
    transform: rotate(-90deg)
  }
  
  img#menu-icon.ferme {
    transform: rotate(90deg)
  }
  header div#header-right.ferme {
    transform: translatex(+100%);
  }

}


