.titre {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 40px;
    flex:1;
    
}

.introduction {
    flex: 2;
    padding: 30px;

}

.picture {
    flex: 2;
    height: 500px;
    padding-right: 75px;
    
  }

.haut {
    display: flex;
    flex-wrap:wrap;
}