{% extends "core/base.html" %}
{% load static %}
{% block title%}Article 9{% endblock %}



{% block content %}
<div class="contenu_article">

    <h1 class="titre_article">Qu’est-ce que l’effet de serre ? Est-ce “mauvais” pour l’environnement ?</h1>
    <a title="A loose necktie, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons"
        href="https://commons.wikimedia.org/wiki/File:Greenhouse-effect-t2.svg"><img width="2048"
            alt="Greenhouse-effect-t2"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Greenhouse-effect-t2.svg/2048px-Greenhouse-effect-t2.svg.png"></a>
    <p class="texte_article">
        L'effet de serre est un processus naturel et essentiel à la vie sur Terre. Il se produit lorsque certains gaz
        présents dans l'atmosphère (comme le dioxyde de carbone, le méthane, la vapeur d'eau, etc.) piègent la chaleur
        du soleil à la surface de la Terre. Ces gaz absorbent une partie de l'énergie solaire réfléchie par la surface
        terrestre, ce qui réchauffe l'atmosphère.<br><br>

        En d'autres termes, l'effet de serre agit comme une couverture qui retient la chaleur à la surface de la Terre,
        aidant ainsi à maintenir une température globale propice à la vie. Sans cet effet, la planète serait beaucoup
        plus froide.<br><br>

        Cependant, les activités humaines ont augmenté la concentration de certains de ces gaz à effet de serre (GES),
        principalement en brûlant des combustibles fossiles comme le charbon, le pétrole et le gaz naturel, ainsi qu'en
        déboisant massivement certaines zones. Cela a entraîné un renforcement de l'effet de serre, provoquant un
        réchauffement excessif de la planète, connu sous le nom de changement climatique ou réchauffement
        climatique.<br><br>

        En résumé, l'effet de serre est un processus naturel qui maintient la Terre à une température habitable en
        retenant une partie de la chaleur du soleil. Cependant, les activités humaines ont intensifié cet effet,
        contribuant ainsi au changement climatique.
    </p>
</div>
{% endblock %}