{% extends "core/base.html" %}
{% load static %}
{% block title%}Article 6{% endblock %}



{% block content %}
<div class="contenu_article">

    <h1 class="titre_article">Quelles sont les conséquences du réchauffement climatique sur le long terme ?</h1>
    <a title="RCraig09, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons"
        href="https://commons.wikimedia.org/wiki/File:20211107_Projected_extremes_for_different_degrees_of_global_warming_-_3x10yr_area_chart_-_IPCC_AR6_WG1_SPM.svg"><img
            width="1024"
            alt="20211107 Projected extremes for different degrees of global warming - 3x10yr area chart - IPCC AR6 WG1 SPM"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/20211107_Projected_extremes_for_different_degrees_of_global_warming_-_3x10yr_area_chart_-_IPCC_AR6_WG1_SPM.svg/1024px-20211107_Projected_extremes_for_different_degrees_of_global_warming_-_3x10yr_area_chart_-_IPCC_AR6_WG1_SPM.svg.png"></a>
    <p class="texte_article">
        Le réchauffement climatique a des conséquences importantes sur le long terme, impactant de nombreux aspects de
        notre planète, des écosystèmes aux sociétés humaines. Voici quelques-unes des conséquences à long terme du
        réchauffement climatique :<br><br>

        Élévation du niveau de la mer : La fonte des glaciers et des calottes glaciaires, ainsi que la dilatation des
        océans due à l'augmentation de la température, conduisent à une élévation du niveau de la mer. Cela peut
        entraîner des inondations, submerger des terres basses et menacer les zones habitées.<br><br>
        Perturbations des écosystèmes : Le changement climatique perturbe les habitats naturels, altère les cycles
        migratoires des espèces, modifie les schémas de reproduction des plantes et des animaux, et entraîne souvent des
        extinctions d'espèces en raison des modifications de leur environnement.<br><br>
        Impacts sur l'agriculture et la sécurité alimentaire : Les changements climatiques affectent les rendements
        agricoles en altérant les conditions météorologiques, en augmentant les risques de sécheresses, d'inondations et
        de feux de forêt, ce qui peut compromettre la sécurité alimentaire mondiale.<br><br>
        Menace pour la biodiversité : Les changements climatiques rapides rendent difficile pour de nombreuses espèces
        de s'adapter rapidement, entraînant des pertes massives de biodiversité et modifiant les écosystèmes de manière
        irréversible.<br><br>
        Migration et déplacements de populations : Les changements environnementaux, tels que l'élévation du niveau de
        la mer ou la dégradation des terres, peuvent forcer des populations entières à se déplacer, augmentant les
        migrations forcées et les conflits liés aux ressources.<br><br>
        Santé humaine : Le réchauffement climatique peut avoir des répercussions sur la santé humaine, notamment en
        augmentant les risques de maladies liées à la chaleur, en favorisant la propagation de maladies infectieuses et
        en affectant la disponibilité d'eau et de nourriture dans certaines régions.<br><br>
        Instabilité économique : Les catastrophes naturelles liées au climat peuvent entraîner des pertes économiques
        massives, affectant les infrastructures, l'agriculture, les industries et la stabilité économique des régions
        touchées.<br><br>
        Ces conséquences du réchauffement climatique à long terme soulignent la nécessité d'actions urgentes pour
        atténuer les émissions de gaz à effet de serre, adapter les sociétés aux changements climatiques en cours et
        mettre en œuvre des stratégies pour limiter les dommages futurs.
    </p>
</div>
{% endblock %}