{% extends "core/base.html" %}
{% load static %}
{% block title%}Article 3{% endblock %}



{% block content %}
<h1 class="titre_article">Augmentation de la température moyenne prévue d’ici 2030</h1>
<a title="Authors of the study: Gabrielle B. Dreyfus, Yangyang Xu, Drew T. Shindell, Durwood Zaelke and Veerabhadran Ramanathan, CC BY 4.0 &lt;https://creativecommons.org/licenses/by/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Historical_and_future_temperature_projections_showing_importance_of_mitigating_short-lived_climate_pollutants.jpg"><img width="2048" alt="Historical and future temperature projections showing importance of mitigating short-lived climate pollutants" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Historical_and_future_temperature_projections_showing_importance_of_mitigating_short-lived_climate_pollutants.jpg/2048px-Historical_and_future_temperature_projections_showing_importance_of_mitigating_short-lived_climate_pollutants.jpg"></a>
<p class="texte_article">
    Les projections concernant l'augmentation de la température moyenne de la planète d'ici 2030 varient en fonction de divers scénarios et de modèles climatiques utilisés par les scientifiques. Ces prévisions dépendent également des mesures prises pour réduire les émissions de gaz à effet de serre et atténuer le changement climatique.<br><br>

Selon le Groupe d'experts intergouvernemental sur l'évolution du climat (GIEC), dans son rapport de 2021, les scénarios d'émissions futures conduiraient à des augmentations de température moyenne mondiale. Le GIEC a indiqué que si les émissions continuent au rythme actuel, l'augmentation de la température moyenne de la surface terrestre pourrait dépasser 1,5 degré Celsius au cours des années 2030.<br><br>

Cependant, les projections précises varient en fonction de diverses conditions, notamment des efforts pour réduire les émissions de gaz à effet de serre et des politiques adoptées pour limiter le réchauffement climatique. Les modèles climatiques indiquent généralement une fourchette d'augmentation de température et l'ampleur de cette augmentation dépendra largement des actions prises pour réduire les émissions de gaz à effet de serre.<br><br>

Il est crucial de noter que les changements climatiques induits par l'activité humaine continuent de se produire, et les conséquences peuvent être significatives si des mesures d'atténuation et d'adaptation ne sont pas mises en œuvre rapidement et de manière efficace.
</p>
{% endblock %}