{% extends "core/base.html" %}
{% load static %}
{% block title%}Article 2{% endblock %}



{% block content %}
<h1 class="titre_article">Comment limiter l’impact des transports dans le réchauffement climatique ?</h1>
<a title="Hannah Ritchie and Max Roser, adapted for svg and smartphone by Eric Fisk, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Greenhouse_gas_emission_scenarios_01.svg"><img width="512" alt="Greenhouse gas emission scenarios 01" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Greenhouse_gas_emission_scenarios_01.svg/512px-Greenhouse_gas_emission_scenarios_01.svg.png"></a>
<p class="texte_article">
    Le secteur des transports représente la principale source d'émissions de gaz à effet de serre en France, contribuant à hauteur de 31%, et il est responsable d'un quart des émissions mondiales. Par conséquent, la décarbonation des transports constitue un enjeu crucial dans la lutte contre le changement climatique.<br><br>

Le GIEC a identifié diverses actions à entreprendre dans tous les secteurs pour réduire les émissions de gaz à effet de serre en modifiant les comportements individuels. Parmi ces actions, celles liées à la mobilité offrent le plus grand potentiel de réduction de l'empreinte carbone. Les solutions préconisées comprennent la promotion d'une mobilité sans voiture, en encourageant la marche et le vélo, la faveur des transports en commun, la promotion des modes de déplacement électriques et la réduction des voyages en avion, en particulier les vols long-courriers.<br><br>

À l'échelle urbaine, une réorganisation des zones citadines pourrait entraîner une diminution d'environ 25% de la consommation de carburant liée au transport urbain. Cela serait possible grâce à des infrastructures de transport moins dépendantes de la voiture et à une proximité accrue entre le domicile et les lieux de vie.
</p>
{% endblock %}