{% extends "core/base.html" %}
{% load static %}
{% block title%}Article 8{% endblock %}



{% block content %}
<h1 class="titre_article">L’Homme est-il responsable de l’augmentation des températures ?</h1>
<a title="Physikinger, CC0, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Global_warming_hiatus.gif"><img width="256" alt="Global warming hiatus" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/Global_warming_hiatus.gif"></a>
<p class="texte_article">
    L'activité humaine est largement reconnue comme étant responsable de l'augmentation de la température globale de la planète observée au cours des dernières décennies. Les activités humaines ont libéré d'énormes quantités de gaz à effet de serre (GES) dans l'atmosphère, principalement par la combustion de combustibles fossiles (comme le charbon, le pétrole et le gaz naturel) pour produire de l'électricité, alimenter les transports et l'industrie, ainsi que par la déforestation et d'autres pratiques agricoles.<br><br>

Ces émissions de gaz à effet de serre, notamment le dioxyde de carbone (CO2), le méthane (CH4) et le protoxyde d'azote (N2O), piègent davantage de chaleur dans l'atmosphère, contribuant ainsi au renforcement de l'effet de serre et au réchauffement climatique observé.<br><br>

Les preuves scientifiques, basées sur des observations climatiques, des modèles climatiques et des données paléoclimatiques, montrent que l'augmentation rapide des températures ces dernières décennies est largement attribuable aux activités humaines. Le Groupe d'experts intergouvernemental sur l'évolution du climat (GIEC) et de nombreuses autres organisations scientifiques mondiales ont conclu de manière robuste que les activités humaines sont le principal moteur du changement climatique actuel.<br><br>

Il est important de souligner que d'autres facteurs naturels peuvent également influencer le climat, mais les émissions massives et continues de gaz à effet de serre causées par les activités humaines sont le facteur déterminant du changement climatique observé au cours des dernières décennies. En conséquence, la réduction des émissions de gaz à effet de serre est essentielle pour atténuer le changement climatique et limiter ses effets futurs.
</p>
{% endblock %}