{% extends "core/base.html" %}
{% load static %}
{% block title%}Article 10{% endblock %}



{% block content %}
<div class="contenu_article">

    <h1 class="titre_article">Quel type de production d’énergie emet le plus de gaz à effet de serre ? Quelles
        alternatives sont envisageables ?</h1>
    <a title="TuomoS, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons"
        href="https://commons.wikimedia.org/wiki/File:CO2_Emissions_from_Electricity_Production_IPCC.png"><img
            width="1024" alt="CO2 Emissions from Electricity Production IPCC"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/CO2_Emissions_from_Electricity_Production_IPCC.png/1024px-CO2_Emissions_from_Electricity_Production_IPCC.png"></a>
    <p class="texte_article">
        Le type de production d'énergie qui émet le plus de gaz à effet de serre (GES) est généralement celui qui repose
        sur la combustion de combustibles fossiles. Les combustibles fossiles comme le charbon, le pétrole et le gaz
        naturel sont les principales sources d'énergie dans le monde, et leur combustion pour produire de l'électricité
        et de la chaleur est responsable d'émissions considérables de dioxyde de carbone (CO2) ainsi que d'autres gaz à
        effet de serre tels que le méthane (CH4) et le protoxyde d'azote (N2O).<br><br>

        Le charbon est l'une des sources d'énergie les plus polluantes en termes d'émissions de CO2 par unité d'énergie
        produite. Sa combustion émet une quantité significative de dioxyde de carbone par rapport à d'autres sources. Le
        gaz naturel et le pétrole, bien qu'ils émettent également du CO2 lorsqu'ils sont brûlés, peuvent être
        relativement moins polluants que le charbon, mais ils contribuent toujours de manière substantielle aux
        émissions de GES.<br><br>

        Les énergies renouvelables telles que l'énergie solaire, éolienne et hydroélectrique émettent généralement
        beaucoup moins de gaz à effet de serre pendant leur fonctionnement direct. Cependant, il convient de noter que
        la fabrication des équipements, les processus de construction et l'ensemble du cycle de vie des installations
        d'énergie renouvelable peuvent générer des émissions, bien que considérablement moindres que celles des
        combustibles fossiles.<br><br>

        Dans l'ensemble, pour réduire les émissions de gaz à effet de serre, il est crucial de privilégier les sources
        d'énergie moins émettrices de carbone telles que les énergies renouvelables (solaire, éolienne, hydroélectrique)
        et d'adopter des politiques et des technologies visant à décarboniser le secteur de l'énergie.<br><br>
    </p>
</div>
{% endblock %}